<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../partials/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div> 
        <% } %>
        <form class="product-form" action="/admin/<%= editing ? "edit-product" : "add-product" %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                class = "<%= validationErrors.find(e => { return e.path === "title" }) ? "invalid" : "" %>"
                type="text" name="title" id="title" placeholder="min. 3 characters" value="<%= (editing || hasError) ? product.title : "" %>">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input 
                type="file" name="image" id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                class = "<%= validationErrors.find(e => { return e.path === "price" }) ? "invalid" : "" %>"
                type="number" name="price" id="price" step="0.01" value="<%= (editing || hasError) ? product.price : "" %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                class = "<%= validationErrors.find(e => { return e.path === "description" }) ? "invalid" : "" %>"
                name="description" id="description" rows="5" placeholder="min. 5 characters"><%= (editing || hasError) ? product.description : "" %></textarea>
            </div>
            <button class="btn" type="submit"><%= (editing || hasError)? "Update Product" : "Add Product" %></button>
            <% if (editing || hasError) {%>
                 <input type="hidden" value="<%= product._id %>" name="productID">
                <%  } %> 
        </form>
    </main>
<%- include('../partials/end.ejs') %>